@{
    ViewBag.Title = "About";
}


<h1>Ние сме професионалната грижа за Вашия дом или офис!</h1>
<div>
    <p>
        Ако искате Вашият дом да бъде винаги безупречно чист и уютен без това да бъде нещо, за което постоянно да се притеснявате и все не Ви остава време да свършите, то Green Home Bulgaria е идеалното решение за Вас! Ние предлагаме пълен пакет услуги, свързани с професионалната грижа за домове, офиси, жилищни входове, разходка, хранене и грижа за вашите домашни любимци. Може да бъдете сигурни, че единственото, което ще получите от нас, е коректност, високо качество, ниски цени и приветлив персонал!
        В забързаното и натоварено ежедневие, в което живеем, ни остава все по-малко време да се погрижим за чистотата вкъщи или на работното място, а също така и да отделим нужното внимание и да се погрижим за здравето и нуждите на домашните си любимци! Ето защо създадохме Green Home Bulgaria! Нашата цел е да Ви помогнем да се справите с всичко това само с един клик или телефонно обаждане и по този начин да улесним ежедневието Ви!
    </p>
    <p>
        - В края на тежкия работен ден, когато сте уморени, Ви се иска да се приберете удома и да си починете вместо да се захванете с чистенето?
    </p>
    <p>
        - Всички знаем, че гледането на бебе или малко дете може да бъде безкрайно уморително. Чувствате се изтощени от всекидневните грижи за Вашето семейство и искате да си отпочинете, докато някой друг почисти вместо Вас?
    </p>
    <p>
        3 причини да изберете Green Home Bulgaria:
        1) Може да разчитате на нас за почистване през работния ден, късно вечерта или дори през почивните дни без това да оскъпи услугата допълнително.
        2) Защото Вие заслужавате най-доброто и качествено обслужване на най-ниските цени!
        3) При поръчка на абонамент получавате промоционална цена, която е по-ниска от цената за еднократно почистване. Всеки път ще бъдете посещавани от една и съща помощница, а при желание лесно можете да я замените с друга без да се чувствате неудобно от това!

        Поръчайте експертното почистване, от което Вашият дом/офис се нуждае!
        Ние оперираме на територията на гр.София, гр.Перник и гр.Бургас.
    </p>
</div>