@{
    ViewBag.Title = "Contact";
}
<h2>Контакти</h2>
<p>  
    Контактът с нас е бърз и изключително лесен!<br/>
    Обадете ни се сега или попълнете нашата бърза форма на платформата на сайта в рамките само на няколко секунди!<br/>
    Вземете своята безплатна консултация и ценова оферта за еднократно или абонаментно почистване на Вашия дом, офис или жилищен вход или за някоя от услугите, свързани със грижа за домашни любимци, които предлагаме!<br/>
    Не се колебайте! Възползвайте се от качеството на нашите услуги на достъпни цени в София, Перник или Бургас!
</p>