@{
    ViewBag.Title = "Contact";
}
<div class="page-wrap">
    <div class="page-name titleAnimation">
        <h1>CONTACT US</h1>
        <p>Stay In Touch</p>
    </div>

    <div class="container fadeUpEffect">
        <div class="row wiwet-welcome">
            <div class="col-sm-8 col-sm-offset-2 text-center wiwet-skript-contact">
                <h3>SPEAK WITH US</h3>
                <h2>SEND US A MESSAGE</h2>
                <h6 class="three-dot-line">
                    <span>
                        <i class="fa fa-circle"></i>
                        <i class="fa fa-circle"></i>
                        <i class="fa fa-circle"></i>
                    </span>
                </h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" placeholder="Full Name">
                        </div>

                        <div class="col-sm-6">
                            <input type="text" placeholder="Your Email">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" placeholder="Web Url">
                        </div>

                        <div class="col-sm-6">
                            <input type="text" placeholder="Subject">
                        </div>
                    </div>

                    <textarea placeholder="You Message ...."></textarea>

                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" value="SEND">
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>

    <div class="row wiwet-skript-our-location fadeLeftRight">
        <div class="col-sm-7 col-md-9 fadeLeftEffect">
            <div id="map-canvas"></div>
        </div>
        <div class="col-sm-5 col-md-3 fadeRightEffect">
            <div>
                <h3>VISIT US</h3>
                <h2>OUR LOCATION</h2>
                <span>
                    <i class="fa fa-circle"></i>
                    <i class="fa fa-circle"></i>
                    <i class="fa fa-circle"></i>
                </span>

                <p>
                    <i class="fa fa-map-marker"></i>
                    25, Broadway Manhattan <br> New York - United States
                </p>

                <p>
                    <i class="fa fa-phone"></i>
                    <a href="tel:112012113199">+112-012 113 199</a>
                </p>

                <p>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:contact@skript.com">contact@skript.com</a>
                </p>

                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>

            </div>
        </div>
    </div>

</div>