.wiwet-navigation > li > a {
    font-size: 30px;
    color: #89171a;
}

.wiwet-navigation > a {
    font-size: 30px;
}

.telephoneTab {
    height: 70px;
    color: #89171a;
}

.telephoneText {
    height: 30px;
    margin: -55px;
    margin-left: 1px;
    font-size: 20px;
    display: block;
    
}

.telephoneNumber {
    height: 30px;
    margin-top: 47px;
    font-size: 30px;
    display: block;
}

.carousel-inner h1 {
    color: #89171a;
}

.colored-number {
    color: #0b9444;
    font-weight: bold;
}