/*

WIWET.com - ASP.NET Templates

TestWiwitIntegration Template

*/
@media only screen and (max-width: 1441px){
	.who-we-are > div > div {
    	padding: 30px 45px;
	}
	.wiwet-skript-our-location div:last-child div {
    	padding-top: 25px;
	}
	.wiwet-skript-our-location a i{
		margin-top: 0px;
	}
	.wiwet-skript-our-location span {
    	margin-bottom: 30px;
	}
}
@media only screen and (max-width: 1025px){
	.services-numbers .services-percentage {
	    height: 180px;
	    width: 180px;
	}
	.wiwet-skript-best-services > div > div {
    	padding-top: 15px;
	}
	.wiwet-skript-our-location #map-canvas {
    	height: 40vw;
	}
	.wiwet-skript-our-location div:last-child div {
    	padding-top: 15px;
    	padding-left: 15px;
	}
	.wiwet-skript-our-location a i{
		margin-right: 4px;
	}
	.wiwet-more-aboutus > div > div {
    	padding: 10px 15px 0px 15px;
	}
	.wiwet-more-aboutus p{
		margin-top: 10px;
	}
	.wiwet-team-skript .team-desc-hover{
		padding: 10px;
	}
	.wiwet-team-skript .team-desc-hover p {
    	margin: 5px 0px;
	}
	.wiwet-team-skript .team-desc-hover img{
		margin: 0 auto 5px;
	}
	.wiwet-team-skript .team-desc-hover h5{
		margin: 10px 0px;
	}
	#carousel-home .carousel-caption {
    	top: 10%;
    	bottom: 10%;
	}
	.our-clients-speak .client-name div:last-child{
		padding-left: 30px;
	}
	.who-we-are img {
    	margin-top: 28%;
	}
	.complex-layout h3{
		margin-bottom: 47px;
	}
}
@media only screen and (max-width: 992px){
	.wiwet-navigation li:nth-child(8){
		display: none;
	}
	.wiwet-navigation li a{
		padding-left: 10px;
		padding-right: 10px;
	}
	.wiwet-skript-blog-sidebar .sidebar-search button{
		float: right;
	}
	.join-skript h3{
		font-size: 24px;
	}
	.wiwet-skript-our-location #map-canvas {
    	height: 50vw;
	}
	.services-numbers .services-percentage {
	    height: 140px;
	    width: 140px;
	}
	.services-numbers .services-percentage h5 {
    	font-size: 15px;
	}
	.services-numbers .services-percentage h2 {
    	font-size: 45px;
	}
	.wiwet-more-aboutus img,
	.wiwet-skript-best-services img {
		margin-top: 28%;
	}
	.wiwet-skript-best-services > div > div{
		padding-right: 10px;
	}
	.wiwet-team-skript > div{
		margin-bottom: 50px;
	}
	.wiwet-skript-tabs .nav>li>a{
		padding: 10px 30px;
	}
	.wiwet-skript-tabs .portfolio-item {
    	margin-bottom: 30px;
	}
	.our-clients-speak .client-name div:last-child{
		padding-left: 60px;
	}
	.our-achievements > div{
		min-height: 300px;
	}
	.our-offer img{
		width: 100%;
	}
	#carousel-home .carousel-caption {
    	top: 0%;
    	bottom: 0%;
	}
	.who-we-are > div > div h6.three-dot-line{
		width: 300px;
	}
	footer .copyright p{
		line-height: 32px;
	}
	.layouts h4{
		margin-top: 50px;
	}
	.diamond-shape{
		margin: 80px auto;
	}
	.image-style h4,
	.skript-colors > div{
		margin-bottom: 80px;
	}

    .footer-mail-wrapper {
    margin-top: 10px;
    }

    .footer-content-mail {
        float: left;
    }

}
@media only screen and (max-width: 767px){
	.top-bar .row div:last-child a{
		margin: 0px;
	}
	.top-bar .row div:first-child a i {
    	margin-right: 3px;
	}
	.top-bar .row div:first-child a{
		font-size: 11px;
	}
	.navbar-toggle .icon-bar{
		background: #17cca1;
	}
	.navbar {
    	line-height: 90px;
    	height: 90px;
	}
	.navbar-brand>img {
    	width: 155px;
	}
	.navbar-toggle{
		margin-top: 25px;
	}
	.wiwet-navigation{
		background: #222222 !important;
		text-align: center;
	}
	.navbar-collapse{
		position:relative;
		top:-130px;
		margin-left: 35% !important;
		width: 70%;
		margin-right: 0px;
	}

	.wiwet-navigation>li:last-child{
		display: none;
	}
	.wiwet-navigation>li>a{
		color: #FFF;
		font-size: 24px;
	    padding-top: 15px;
    	padding-bottom: 15px;
	}
	.wiwet-navigation>a{
		color: #FFF;
		font-size: 2em;
		text-align: right;
		padding-right: 40px;
		height: 80px;
	}
	.wiwet-navigation li:nth-child(8){
		display: block;
	}
	.page-name{
		padding: 20px 0px;
	}
	.page-name h1 {
	    font-size: 40px;
	    margin-bottom: 15px;
	}	
	.wiwet-skript-blog-feed nav .pagination {
	    margin-bottom: 70px;
	}
	h6.three-dot-line{
		width: 240px;
	}
	.wiwet-skript-our-location #map-canvas {
    	height: 100vw;
	}	
	.wiwet-skript-our-location div:last-child div{
		padding-bottom: 20px;
	}
	.wiwet-welcome {
    	padding-top: 40px; 
	}
	.wiwet-skript-services-row h4{
		margin-top: 30px;
	}
	.services-numbers .services-percentage {
    	margin-top: 80px;
    	margin-bottom: 80px;
	}
	.wiwet-more-aboutus img, .wiwet-skript-best-services img {
    	margin-top: 0%;
	}
	.wiwet-under-welcome img{
		margin-top: 60px;
	}
	.wiwet-more-aboutus > div > div{
		padding: 40px 15px;
	}
	.wiwet-inside-skript h6 .left-line, .wiwet-inside-skript h6 .right-line {
    	width: 85px;
	}
	.wiwet-team-skript .team-desc-hover img{
		width: 140px;
		height: 140px;
		margin-bottom: 15px;
	}
	.wiwet-team-skript .team-desc-hover h5,
	.wiwet-team-skript .team-desc-hover p {
    	margin: 25px 0px;
	}
	.our-achievements,
	.wiwet-meet-our-team{
		padding-bottom: 0px;
	}
	.our-achievements h3{
		font-size: 36px;
	}
	.wiwet-skript-tabs .nav>li>a {
    	padding: 10px 5px;
    	font-size: 12px;
	}
	.wiwet-skript-tabs .nav>li span{
		font-size: 0.6em;
	}
	.our-clients-speak .client-name div:last-child{
    	padding-left: 100px;
	}
	.our-clients-speak h6 .left-line, .our-clients-speak h6 .right-line{
		width: 85px;
	}
	.our-clients-speak p.client-words span:first-child {
    	left: -10px;
	}
	.our-clients-speak p.client-words span:last-child {
    	top: 92%;
    	right: -10px;
	}
	.our-clients-speak p.client-words{
		text-align: justify;
		padding-left: 20px;
		padding-right: 20px;
	}
	#carousel-home .carousel-caption{
		left:10px;
		right: 10px;
	}
	#carousel-home .carousel-caption h1{
		font-size: 44px;
		margin-top: 50px;
	}
	#carousel-home .carousel-caption h1 span{
		font-size: 12px;
	}
	#carousel-home .carousel-caption h3{
		font-size: 20px;
	}
	#carousel-home .carousel-control.left, 
	#carousel-home .carousel-control.right
	{
		top: 80%;
		margin-top: 0px;
	}
	#carousel-home .carousel-control.left{
		left: 25%;
	}
	#carousel-home .carousel-control.right{
		right: 25%;
	}
	#carousel-home .item img {
     	width: auto; 
    	max-width: 270%;
    	margin-left: -90%;
	}
	.who-we-are > div > div {
    	padding: 20px 15px;
	}
	.our-offer img{
		margin-top: 50px;
	}
	.who-we-are img {
    	 margin-top: 2%; 
	}
	.panel-custom{
		margin-top: 40px;
	}
	.join-skript{
		height: auto;
		padding-top: 45px;
		padding-bottom: 45px;
	}
	.join-skript h3{
		line-height: 30px;
		text-align: center;
	}
	.subscribe-services input[type=text]{
		margin-bottom: 40px;
	}
	footer .logo{
		text-align: center;
		display: block;
	}
	footer h4 {
    	margin-top: 45px;
	}
	footer .copyright{
		padding-top: 30px;
		padding-bottom: 20px;
	}
	footer .copyright p{
		line-height: 24px;
		text-align: center;
	}
	footer .copyright .row div:last-child {
    	text-align: center;
	}
	.top-bar .row > div:first-child{
		padding-right: 0px;
	}
	.top-bar .row > div:last-child{
		padding-left: 0px;
	}
	.input-row,.typography-row > div{
		margin-bottom: 40px;
	}
	.diamond-shape{
		width: 180px;
		height: 180px;
	}
	.skript-colors p{
		text-align: center;
	}
	.animated {
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
	}
	.animated {
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;

		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;

		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
		visibility: visible !important;
	}
	.fadeUpEffect,.fadeUpEffect1,.fadeUpEffect2,.fadeUpEffect3,.fadeRightEffect,.fadeLeftEffect,.fadeRightEffect1,.fadeLeftEffect1{
		visibility: visible !important;
	}
}