
@{
    ViewBag.Title = "Index";
}

<h2>Администраторски панел</h2>

@Html.ActionLink("Услуги","Index","Services")
<br/>
@Html.ActionLink("Провери абонаментите", "ViewSubscriptions", "Subscriptions")




