
@{
    ViewBag.Title = "SuccessSubscribtion";
}
<div class="page-wrapr">
    <h2 class="text-center">Успешно абониране</h2>
    <p class="text-center">Вашата заявка беше изпратена успешно</p>
</div>


